# Etude des données parisiennes

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Manipulations des bases de données
Pour toutes les bases, il s'agit de les réduire à Paris et éventuellement de les grouper par mois

Bases de données du traffic aérien

In [17]:
df_air_traffic=pd.read_csv('df_air_traffic.csv')
df_air_traffic_paris=df_air_traffic[df_air_traffic['citydest']=='Paris']
df_air_traffic_paris['sheduled_time_start']=pd.to_datetime(df_air_traffic_paris['sheduled_time_start'])
df_at_paris_month = df_air_traffic_paris.groupby(pd.Grouper(key='sheduled_time_start', freq="MS")).sum()
df_at_paris_month=df_at_paris_month.sort_values('sheduled_time_start')
df_at_paris_month=df_at_paris_month.reset_index()
df_at_paris_month=df_at_paris_month[['sheduled_time_start', 'seats', 'number_planes']]

<ipython-input-17-a71036372968>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_air_traffic_paris['sheduled_time_start']=pd.to_datetime(df_air_traffic_paris['sheduled_time_start'])

   sheduled_time_start      seats  number_planes
0           2017-05-01  1253577.0           6308
1           2017-06-01  2287322.0          11314
2           2017-07-01  2633473.0          12999
3           2017-08-01  2710280.0          13251
4           2017-09-01  2605529.0          13075
5           2017-10-01  2673533.0          13287
6           2017-11-01  2220830.0          10801
7           2017-12-01  2291619.0          10962
8           2018-01-01  2112144.0          10363
9           2018-02-01  2021460.0           9933
10          2018-03-01  2412981.0          11908
11          2018-04-01  2194920.0          10875
12          2018-05-01  2336154.0          11708
13          2018-06-01  2287322.0          11314
14          2018-07-01  2633473.0          12999
15          2018-08-01  2710280.0          13251
16          2018-09-01  2605529.0          13075
17          2018-10-01  2673533.0          13287
18          2018-11-01  2220830.0          10801
19          2018-12-01  2291619.0          10962
20          2019-01-01  2189346.0          10511
21          2019-02-01  2115087.0          10292
22          2019-03-01  2362984.0          11550
23          2019-04-01  2569403.0          12567
24          2019-05-01  2646205.0          12933
25          2019-06-01  2668181.0          12966
26          2019-07-01  2803825.0          13317
27          2019-08-01  2785111.0          13116
28          2019-09-01  2637532.0          12614
29          2019-10-01  2620806.0          12482
30          2019-11-01  2277030.0          10840
31          2019-12-01  2230845.0          10510
32          2020-01-01  2254639.0          10673
33          2020-02-01  2024634.0           9867
34          2020-03-01  1288408.0           6051
35          2020-04-01   130181.0            420
36          2020-05-01   199745.0            666
37          2020-06-01   374249.0           1521
38          2020-07-01   776685.0           3808
39          2020-08-01  1005257.0           5154
40          2020-09-01   940678.0           4980
41          2020-10-01   857809.0           4434
42          2020-11-01   551065.0           2609
43          2020-12-01   723030.0           3324
44          2021-01-01   774154.0           3621
45          2021-02-01   572757.0           2799
46          2021-03-01   603839.0           3031
47          2021-04-01   593038.0           2998
48          2021-05-01   689059.0           3572
49          2021-06-01   876426.0           4553
50          2021-07-01  1322958.0           6742
51          2021-08-01  1388599.0           7068
52          2021-09-01  1322617.0           6681
53          2021-10-01  1345685.0           6772
54          2021-11-01  1382545.0           6746
55          2021-12-01   272681.0           1331

Base de données des Google Trends

In [21]:
df_gt_paris= pd.read_csv('df_gt_paris.csv')
df_gt_paris['date']=pd.to_datetime(df_gt_paris['date'])
df_gt_paris_month = df_gt_paris.groupby(pd.Grouper(key='date', freq="MS")).sum()
df_gt_paris_month=df_gt_paris_month.sort_values('date')
df_gt_paris_month=df_gt_paris_month.reset_index()
df_gt_paris_month

,date,Unnamed: 0,aeroport paris_cat_voyages,disneyland paris hotel_cat_voyages,disneyland paris theme_cat_voyages,disneyland paris_cat_voyages,louvre_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages
0,2017-01-01,465,122.94,1137.64,1033.50,1283.94,323.15,901.17,528.31,821.04,1099.94
1,2017-02-01,1246,165.90,728.46,889.20,1057.16,155.44,1422.09,474.76,567.90,949.20
2,2017-03-01,2294,73.20,1035.00,955.50,1154.82,457.68,880.23,515.90,586.95,1012.46
3,2017-04-01,3135,174.69,650.25,1091.52,1075.80,379.73,1072.03,481.20,649.00,1132.20
4,2017-05-01,4185,186.80,666.72,929.66,1216.35,305.52,1176.40,442.89,596.00,1176.56
5,2017-06-01,4965,179.50,559.20,875.16,983.43,289.08,1040.90,408.31,773.26,1188.64
6,2017-07-01,6076,257.92,997.15,1157.38,1213.36,344.88,1278.72,504.00,659.34,1223.52
7,2017-08-01,7037,208.08,1096.20,1228.92,1417.80,413.82,1150.38,493.00,890.40,1127.25
8,2017-09-01,7725,198.00,928.20,1051.20,1215.00,371.76,1117.92,533.50,864.00,1122.75
9,2017-10-01,8928,181.60,1000.06,1205.24,1384.22,417.22,1254.91,602.60,777.85,1107.45
10,2017-11-01,9555,145.71,899.58,1030.05,967.98,425.00,1081.60,467.78,610.68,1027.05
11,2017-12-01,10819,120.78,794.88,789.91,943.50,383.64,1094.40,442.60,636.51,1019.34
12,2018-01-01,11780,164.16,1665.18,1434.68,1603.60,362.00,1098.90,588.48,751.66,1267.68
13,2018-02-01,11466,111.84,948.60,1082.64,1306.88,341.80,1033.56,477.84,556.20,1045.17
14,2018-03-01,13609,227.52,1177.38,1116.96,1274.88,496.60,1423.92,551.52,704.00,1248.00
15,2018-04-01,14085,210.10,791.50,980.16,1225.54,516.51,1166.53,440.37,715.52,1148.68
16,2018-05-01,15500,156.70,810.00,987.30,1106.11,450.24,1453.16,512.40,951.08,1238.40
17,2018-06-01,15915,152.90,865.83,868.56,1104.32,355.20,1244.19,474.54,924.56,1085.85
18,2018-07-01,17391,204.71,1212.10,1046.50,1481.80,482.22,1207.64,569.94,717.50,1295.91
19,2018-08-01,18352,192.94,1065.67,1306.76,1551.69,403.20,1288.23,540.98,791.10,1205.55
20,2018-09-01,18675,157.50,1363.70,1095.64,1217.68,321.10,1481.25,666.00,666.90,1200.50
21,2018-10-01,20243,110.97,1272.96,1127.52,1530.00,496.08,1537.38,544.56,968.84,1183.68
22,2018-11-01,20505,137.88,795.44,1019.20,1159.42,354.48,1231.94,486.99,879.00,1117.14
23,2018-12-01,22134,169.29,611.00,842.40,941.36,330.60,1022.54,376.38,721.92,1030.28
24,2019-01-01,23095,200.50,1175.07,1129.74,1311.69,476.25,1073.82,586.50,972.40,1253.76
25,2019-02-01,21686,140.20,843.63,886.16,1249.80,430.54,1151.21,422.62,810.46,1082.88
26,2019-03-01,24924,174.72,1208.38,607.50,764.31,555.06,1494.06,522.50,908.95,1207.00
27,2019-04-01,25035,237.64,863.17,1208.00,1163.74,587.70,1560.79,518.19,954.80,802.44
28,2019-05-01,26815,196.57,981.24,1109.29,1495.68,531.86,1434.12,476.91,706.41,1248.48
29,2019-06-01,26865,155.87,652.00,1060.28,1291.98,520.24,1468.02,517.50,920.04,1426.68
30,2019-07-01,28706,243.84,1014.43,1247.12,1475.22,559.80,1598.74,562.10,766.48,1285.20
31,2019-08-01,29667,249.24,1022.38,1454.07,1407.70,587.70,1656.48,529.10,864.28,1373.84
32,2019-09-01,29625,177.21,1190.80,1209.88,1344.00,549.45,1744.68,576.50,932.27,1375.88
33,2019-10-01,31558,208.40,1084.80,1213.38,1367.60,515.52,1298.64,574.32,1076.40,1177.00
34,2019-11-01,31455,149.04,938.44,1060.00,1266.36,461.16,1319.04,506.92,928.53,1125.16
35,2019-12-01,33449,211.68,1001.28,1007.50,1209.00,377.52,1259.20,438.90,789.39,1118.60
36,2020-01-01,34410,172.60,1013.25,1360.91,1746.00,535.63,1238.76,608.88,740.52,1315.50
37,2020-02-01,33060,148.40,901.90,1185.25,1468.12,479.36,821.56,501.84,761.80,1148.16
38,2020-03-01,36270,120.72,196.30,440.70,497.35,227.64,570.18,310.40,168.81,665.61
39,2020-04-01,36015,32.85,195.86,389.70,491.00,203.40,199.41,108.78,71.34,393.92
40,2020-05-01,38161,46.50,158.40,408.06,542.25,194.04,188.80,125.10,158.40,394.38
41,2020-06-01,37845,71.00,240.46,399.05,533.40,168.74,757.26,182.88,456.68,598.50
42,2020-07-01,40052,104.58,311.58,680.34,904.40,226.80,982.50,306.60,652.68,785.70
43,2020-08-01,41013,101.40,467.10,589.68,689.37,251.85,861.39,238.32,570.96,730.80
44,2020-09-01,40605,78.60,196.02,417.27,493.29,207.60,779.20,202.60,351.54,485.28
45,2020-10-01,42904,65.48,310.73,412.86,526.96,234.78,508.86,178.90,312.62,569.76
46,2020-11-01,42435,46.41,145.73,153.01,179.70,84.21,156.06,97.68,67.68,347.85
47,2020-12-01,44795,58.16,119.21,242.40,265.80,177.10,326.56,144.76,104.50,465.12
48,2021-01-01,45756,56.64,168.00,245.44,316.64,171.16,322.38,150.85,153.23,421.20
49,2021-02-01,42154,42.42,109.72,222.72,248.40,132.88,283.58,135.31,74.52,291.60
50,2021-03-01,47585,42.21,173.64,235.56,251.30,125.28,382.32,157.50,85.82,271.89
51,2021-04-01,46965,48.93,153.90,248.30,258.30,135.09,340.32,165.20,97.92,432.99
52,2021-05-01,49476,93.15,273.73,420.21,544.36,168.00,502.72,194.60,333.60,556.56
53,2021-06-01,48795,100.45,439.92,568.85,692.64,198.80,792.00,241.56,537.20,662.40
54,2021-07-01,51367,128.32,537.03,677.44,911.20,258.02,756.54,341.46,805.95,773.44
55,2021-08-01,52328,94.02,625.38,935.73,1065.60,290.70,930.42,319.34,699.66,875.00
56,2021-09-01,51555,111.37,825.32,750.73,1033.41,330.03,1280.92,361.25,610.06,828.45
57,2021-10-01,54219,101.76,993.72,1133.76,1400.32,377.79,976.41,336.96,802.29,778.40
58,2021-11-01,53385,84.15,629.07,817.52,1266.60,391.00,898.38,308.70,609.67,699.36
59,2021-12-01,56110,94.50,375.57,804.75,983.04,277.20,919.80,255.86,725.56,651.78

Base de données des commentaires utilisateurs

In [23]:
df_reviews_us_france_210712 = pd.read_csv('reviews_us_france_210712.csv')
df_reviews_france=df_reviews_us_france_210712[df_reviews_us_france_210712['country']=="France"]
df_reviews_paris=df_reviews_france[df_reviews_france['city']=='Paris']
df_reviews_paris['stay_date']=pd.to_datetime(df_reviews_paris['stay_date'])
df_reviews_paris_month = df_reviews_france.groupby("stay_date", as_index=False).sum()
df_reviews_paris_month

<ipython-input-23-162e050fc6ba>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_paris['stay_date']=pd.to_datetime(df_reviews_paris['stay_date'])

   stay_date  number_of_reviewers
0    2018-07                  936
1    2018-08                 4342
2    2018-09                 3614
3    2018-10                 3477
4    2018-11                 3755
5    2018-12                 3842
6    2019-01                 3148
7    2019-02                 2856
8    2019-03                 3254
9    2019-04                 3936
10   2019-05                 3899
11   2019-06                 4586
12   2019-07                 5296
13   2019-08                 6514
14   2019-09                 4340
15   2019-10                 4388
16   2019-11                 3750
17   2019-12                 3971
18   2020-01                 4269
19   2020-02                 4810
20   2020-03                 2017
21   2020-04                   93
22   2020-05                  230
23   2020-06                 1506
24   2020-07                 4492
25   2020-08                 6937
26   2020-09                 3853
27   2020-10                 2955
28   2020-11                  519
29   2020-12                 1389
30   2021-01                 1853
31   2021-02                 1778
32   2021-03                 1528
33   2021-04                  813
34   2021-05                 2186
35   2021-06                 3860
36   2021-07                 7386
37   2021-08                 9354
38   2021-09                 7044
39   2021-10                 8118
40   2021-11                 7636
41   2021-12                 1082
42   2022-01                    1

Base de données officielle

In [ ]:
df_France_Official_Data = pd.read_csv('France_Official_Data.csv')
df_od_paris=df_France_Official_Data[df_France_Official_Data['department']=='Paris']