In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_France_Official_Data2 = pd.read_csv("df_France_Official_Data_month.csv", index_col=0, header=0, squeeze=True, parse_dates=[0])
df_France_Official_Data2['date'] = pd.to_datetime(df_France_Official_Data2['date'])

In [3]:
#création de la liste contenant tous les départements pour itérer ensuite
liste_departement = df_France_Official_Data2['department'].tolist()

## Interpolation sur 1 département

In [4]:
df_Official_Data_Sud = df_France_Official_Data2[(df_France_Official_Data2['department']=='Bouches-du-Rhône')] 
df_Official_Data_Sud
essai = df_Official_Data_Sud.drop('department', axis=1)
essai

            date  value_in_thousands
12    2011-01-01              153.08
108   2011-02-01              156.19
204   2011-03-01              216.20
300   2011-04-01              258.21
396   2011-05-01              294.41
...          ...                 ...
12012 2021-06-01              280.21
12108 2021-07-01              415.19
12204 2021-08-01              427.94
12300 2021-09-01              334.81
12396 2021-10-01              311.70

[130 rows x 2 columns]

In [5]:
upsampled = essai.set_index('date').resample('1D')
interpolated = upsampled.interpolate(method='linear')
print(interpolated.head(42))

            value_in_thousands
date
2011-01-01          153.080000
2011-01-02          153.180323
2011-01-03          153.280645
2011-01-04          153.380968
2011-01-05          153.481290
2011-01-06          153.581613
2011-01-07          153.681935
2011-01-08          153.782258
2011-01-09          153.882581
2011-01-10          153.982903
2011-01-11          154.083226
2011-01-12          154.183548
2011-01-13          154.283871
2011-01-14          154.384194
2011-01-15          154.484516
2011-01-16          154.584839
2011-01-17          154.685161
2011-01-18          154.785484
2011-01-19          154.885806
2011-01-20          154.986129
2011-01-21          155.086452
2011-01-22          155.186774
2011-01-23          155.287097
2011-01-24          155.387419
2011-01-25          155.487742
2011-01-26          155.588065
2011-01-27          155.688387
2011-01-28          155.788710
2011-01-29          155.889032
2011-01-30          155.989355
2011-01-31          156.089677
2011-02-01          156.190000
2011-02-02          158.333214
2011-02-03          160.476429
2011-02-04          162.619643
2011-02-05          164.762857
2011-02-06          166.906071
2011-02-07          169.049286
2011-02-08          171.192500
2011-02-09          173.335714
2011-02-10          175.478929
2011-02-11          177.622143

## Itération sur tous les départements

In [6]:
def monthtoday (nomdudepartement):
    df_Official_Data_Sud = df_France_Official_Data2[(df_France_Official_Data2['department'] == nomdudepartement)] 
    essai = df_Official_Data_Sud.drop('department', axis=1)
    upsampled = essai.set_index('date').resample('1D')
    interpolated = upsampled.interpolate(method='linear')

    return interpolated

In [7]:
monthtoday("Bouches-du-Rhône")

            value_in_thousands
date
2011-01-01          153.080000
2011-01-02          153.180323
2011-01-03          153.280645
2011-01-04          153.380968
2011-01-05          153.481290
...                        ...
2021-09-27          314.781333
2021-09-28          314.011000
2021-09-29          313.240667
2021-09-30          312.470333
2021-10-01          311.700000

[3927 rows x 1 columns]

In [ ]:
# on initialise avec une dataframe vide
df = pd.DataFrame()
#on crée la boucle pour ajouter les valeurs pour chaque département dans le dataframe global
for i in liste_departement :
    x= str(i)
    y = monthtoday(x) #j'applique la fonction
    y['department']= x #on rajoute la colonne du département
    df = pd.concat([df,y]) # je concatène le dataframe de chaque département

In [ ]:
df