In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Etude du lien entre les différentes bases de données : une approche économétrique

On cherche à étudier le lien entre les différentes séries dont on dispose et le nombre officiel de touristes. Pour cela, on commence par s'assurer que les données à comparer soient comparables.

# Base du trafic aérien - nombre d'avions et de sièges par jour

On commence par reconstituer la base imputée du trafic aérien.(on effectue les mêmes commandes qu'auparavant).

In [2]:
df_air_traffic_france = pd.read_csv('france_air_traffic_210712.csv')
df_air_traffic_france['sheduled_time_start']=pd.to_datetime(df_air_traffic_france['sheduled_time_start'])
df_air_traffic_imput = df_air_traffic_france.copy()
df_imput_31dec = df_air_traffic_france[df_air_traffic_france["sheduled_time_start"]=='2018-12-30']
df_imput_31dec["Year"]=2018
df_imput_31dec["Month"]=12
df_imput_31dec["Day"]=31
df_imput_31dec["sheduled_time_start"] = pd.to_datetime(df_imput_31dec[['Year', 'Month', 'Day']])
df_imput_31dec['Year-Month'] = df_imput_31dec['sheduled_time_start'].dt.strftime('%Y-%m')
df_air_traffic_imput = pd.concat([df_air_traffic_imput, df_imput_31dec])
df_air_traffic_imput.sort_values(by=['sheduled_time_start'], inplace=True)
df_air_traffic_imput2 = df_air_traffic_imput.copy()
pb_2017 = pd.date_range('2017-05-16', '2017-12-31')
index_a_supprimer_2017 = df_air_traffic_imput2[df_air_traffic_imput2["sheduled_time_start"].isin(pb_2017)].index.tolist()
df_air_traffic_imput2.drop(index=index_a_supprimer_2017, axis=0, inplace=True)
dates_imput_2017 = pd.date_range('2018-05-16', '2018-12-31')
df_imput_obs_2017 = df_air_traffic_imput2[df_air_traffic_imput2["sheduled_time_start"].isin(dates_imput_2017)]
df_imput_obs_2017["Year"]=2017
df_imput_obs_2017["sheduled_time_start"] = pd.to_datetime(df_imput_obs_2017[['Year', 'Month', 'Day']])
df_imput_obs_2017['Year-Month'] = df_imput_obs_2017['sheduled_time_start'].dt.strftime('%Y-%m')
df_air_traffic_imput2 = pd.concat([df_air_traffic_imput2, df_imput_obs_2017])
df_air_traffic_imput2.sort_values(by=['sheduled_time_start'], inplace=True)

C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_31dec["Year"]=2018
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_31dec["Month"]=12
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_31dec["Day"]=31
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_31dec["sheduled_time_start"] = pd.to_datetime(df_imput_31dec[['Year', 'Month', 'Day']])
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_31dec['Year-Month'] = df_imput_31dec['sheduled_time_start'].dt.strftime('%Y-%m')
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_obs_2017["Year"]=2017
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_obs_2017["sheduled_time_start"] = pd.to_datetime(df_imput_obs_2017[['Year', 'Month', 'Day']])
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/21372328.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_imput_obs_2017['Year-Month'] = df_imput_obs_2017['sheduled_time_start'].dt.strftime('%Y-%m')

In [3]:
df_air_traffic_imput3 = df_air_traffic_imput2.groupby('sheduled_time_start', as_index=False).sum()

Pour chaque jour, on observe le nombre de sièges et d'avions. On supprime du df les colonnes inutiles.

In [4]:
df_air_traffic_imput3=df_air_traffic_imput3[["sheduled_time_start", "seats", "number_planes"]]

Comme les données officielles recensent le nombre de touristes arrivés en France par mois, le but est d'obtenir un nombre de vols et de sièges par mois.Pour cela, je sélectionne l'année et le mois pour chaque ligne. Ensuite, je crée une nouvelle variable Year-Month (compatible avec le format des données officielles) pour pouvoir faire la somme du nb d'avions et de sièges par mois et ensuite faire une jointure cohérente avec le df des données officielles.

In [5]:
df_air_traffic_imput3['Year'] = df_air_traffic_imput3['sheduled_time_start'].dt.year 
df_air_traffic_imput3['Month'] = df_air_traffic_imput3['sheduled_time_start'].dt.month 
df_air_traffic_imput3['Year-Month'] = df_air_traffic_imput3['sheduled_time_start'].dt.strftime('%Y-%m-01')

In [6]:
df_air_traffic_imput3

     sheduled_time_start     seats  number_planes  Year  Month  Year-Month
0             2017-12-31  150953.0            864  2017     12  2017-12-01
1             2018-01-01  110454.0            635  2018      1  2018-01-01
2             2018-01-02  111713.0            648  2018      1  2018-01-01
3             2018-01-03  113140.0            648  2018      1  2018-01-01
4             2018-01-04  114154.0            661  2018      1  2018-01-01
...                  ...       ...            ...   ...    ...         ...
1433          2021-12-03   77261.0            442  2021     12  2021-12-01
1434          2021-12-04   62891.0            335  2021     12  2021-12-01
1435          2021-12-05   78047.0            437  2021     12  2021-12-01
1436          2021-12-06   61266.0            355  2021     12  2021-12-01
1437          2021-12-07   23508.0            138  2021     12  2021-12-01

[1438 rows x 6 columns]

In [7]:
df_air_traffic_imput4 = df_air_traffic_imput3.groupby('Year-Month', as_index=False).sum()

In [8]:
df_air_traffic_imput4=df_air_traffic_imput4[["Year-Month", "seats", "number_planes"]]

Ainsi, pour chaque mois, j'obtiens le nombre de sièges et le nombre de vols.

In [9]:
df_air_traffic_imput4

    Year-Month      seats  number_planes
0   2017-12-01   150953.0            864
1   2018-01-01  3467197.0          20498
2   2018-02-01  3407715.0          20251
3   2018-03-01  4105976.0          24307
4   2018-04-01  3876068.0          22804
5   2018-05-01  4214402.0          25008
6   2018-06-01  4244152.0          25250
7   2018-07-01  4883670.0          28912
8   2018-08-01  4964357.0          28874
9   2018-09-01  4814087.0          28821
10  2018-10-01  4780669.0          28277
11  2018-11-01  3450107.0          20388
12  2018-12-01  2669261.0          15424
13  2019-01-01  3553036.0          20469
14  2019-02-01  3562193.0          20856
15  2019-03-01  3984509.0          23365
16  2019-04-01  4609542.0          27047
17  2019-05-01  4785556.0          28158
18  2019-06-01  4893997.0          28659
19  2019-07-01  5133013.0          29566
20  2019-08-01  5039940.0          28483
21  2019-09-01  4567188.0          25580
22  2019-10-01  4415223.0          24504
23  2019-11-01  3551574.0          19542
24  2019-12-01  3504007.0          19097
25  2020-01-01  3514455.0          19232
26  2020-02-01  3265337.0          18275
27  2020-03-01  2098871.0          11417
28  2020-04-01   142539.0            490
29  2020-05-01   216458.0            758
30  2020-06-01   521813.0           2493
31  2020-07-01  1447529.0           8082
32  2020-08-01  1981633.0          11388
33  2020-09-01  1736747.0          10291
34  2020-10-01  1474498.0           8607
35  2020-11-01   779541.0           4140
36  2020-12-01  1094520.0           5870
37  2021-01-01  1109331.0           5939
38  2021-02-01   838165.0           4602
39  2021-03-01   856230.0           4806
40  2021-04-01   874821.0           4979
41  2021-05-01  1098536.0           6439
42  2021-06-01  1522735.0           8888
43  2021-07-01  2415526.0          13776
44  2021-08-01  2578237.0          14715
45  2021-09-01  2380217.0          13556
46  2021-10-01  2421248.0          13785
47  2021-11-01  2206862.0          12103
48  2021-12-01   432237.0           2399

In [10]:
# je transforme la variable year-month en variable temps
df_air_traffic_imput4['Year-Month']=pd.to_datetime(df_air_traffic_imput4['Year-Month'], errors='coerce')

# Données officielles - nb de commentaires par mois

In [11]:
df_France_Official_Data = pd.read_csv('France_Official_Data.csv')
df_France_Official_Data['date']=pd.to_datetime(df_France_Official_Data['date'])

In [12]:
df_France_Official_Data['value_in_thousands']=pd.to_numeric(df_France_Official_Data['value_in_thousands'], errors='coerce')
df_France_Official_Data

,date,variable,department,individus,value_in_thousands
0,2011-01-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,7.41
1,2011-02-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,9.54
2,2011-03-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,12.55
3,2011-04-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,13.03
4,2011-05-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,12.97
...,...,...,...,...,...
24955,2021-06-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,65.91
24956,2021-07-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,71.18
24957,2021-08-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,56.66
24958,2021-09-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,73.90
24959,2021-10-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,80.62

In [93]:
df_France_Official_Data[df_France_Official_Data["date"]=="2020-01-01"]

,date,variable,department,individus,value_in_thousands
108,2020-01-01,Arrivées dans l'hôtellerie,Ain,Non-résidents,NaN
238,2020-01-01,Arrivées dans l'hôtellerie,Ain,Résidents,NaN
368,2020-01-01,Arrivées dans l'hôtellerie,Aisne,Non-résidents,NaN
498,2020-01-01,Arrivées dans l'hôtellerie,Aisne,Résidents,NaN
628,2020-01-01,Arrivées dans l'hôtellerie,Allier,Non-résidents,NaN
...,...,...,...,...,...
24418,2020-01-01,Arrivées dans l'hôtellerie,Vosges,Résidents,NaN
24548,2020-01-01,Arrivées dans l'hôtellerie,Yonne,Non-résidents,NaN
24678,2020-01-01,Arrivées dans l'hôtellerie,Yonne,Résidents,NaN
24808,2020-01-01,Arrivées dans l'hôtellerie,Yvelines,Non-résidents,NaN
24938,2020-01-01,Arrivées dans l'hôtellerie,Yvelines,Résidents,NaN

In [122]:
df_France_Official_Data2 = df_France_Official_Data.groupby('date', as_index=False).sum() 

#df_France_Official_Data2 = df_France_Official_Data.groupby('date', as_index=False).sum(min_count=1) 
#si on veut laisser les NaN et pas qu'ils soient remplacés par 0

Ici on a que les données par mois: chaque mois, on observe un nombre total de touristes sur le sol français.

In [123]:
df_France_Official_Data2[df_France_Official_Data2["date"]>"2018-01-01"]

          date  value_in_thousands
85  2018-02-01             7443.10
86  2018-03-01             9230.84
87  2018-04-01             9618.15
88  2018-05-01            10734.97
89  2018-06-01            11803.88
90  2018-07-01            12938.61
91  2018-08-01            13230.29
92  2018-09-01            11500.99
93  2018-10-01            10298.17
94  2018-11-01             8161.55
95  2018-12-01             7995.92
96  2019-01-01             7020.50
97  2019-02-01             7582.23
98  2019-03-01             8979.44
99  2019-04-01            10352.06
100 2019-05-01            10549.21
101 2019-06-01            12353.69
102 2019-07-01            13034.84
103 2019-08-01            13534.05
104 2019-09-01            11576.56
105 2019-10-01            10259.45
106 2019-11-01             8346.83
107 2019-12-01             8166.96
108 2020-01-01                0.00
109 2020-02-01                0.00
110 2020-03-01                0.00
111 2020-04-01                0.00
112 2020-05-01                0.00
113 2020-06-01                0.00
114 2020-07-01             8577.35
115 2020-08-01             9913.52
116 2020-09-01             7036.22
117 2020-10-01             5480.17
118 2020-11-01                0.00
119 2020-12-01                0.00
120 2021-01-01                0.00
121 2021-02-01                0.00
122 2021-03-01                0.00
123 2021-04-01                0.00
124 2021-05-01             4575.12
125 2021-06-01             6913.27
126 2021-07-01            10498.30
127 2021-08-01            11095.90
128 2021-09-01             9442.13
129 2021-10-01             9121.07

# Nombre de commentaires - nb par mois

In [15]:
df_reviews_us_france_210712 = pd.read_csv('reviews_us_france_210712.csv')
df_reviews_france=df_reviews_us_france_210712[df_reviews_us_france_210712['country']=="France"]
df_reviews_france['stay_date']=pd.to_datetime(df_reviews_france['stay_date'])
df_reviews_france['publication_date']=pd.to_datetime(df_reviews_france['publication_date'])

C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/2720934094.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_france['stay_date']=pd.to_datetime(df_reviews_france['stay_date'])
C:\Users\Clemence\AppData\Local\Temp/ipykernel_69840/2720934094.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_france['publication_date']=pd.to_datetime(df_reviews_france['publication_date'])

In [16]:
df_reviews_france2 = df_reviews_france.groupby("stay_date", as_index=False).sum()

ici c'est pareil, on a une observation par mois pour le nombre de commentaires laissés en considérant la date du séjour.

In [17]:
df_reviews_france2

    stay_date  number_of_reviewers
0  2018-07-01                  936
1  2018-08-01                 4342
2  2018-09-01                 3614
3  2018-10-01                 3477
4  2018-11-01                 3755
5  2018-12-01                 3842
6  2019-01-01                 3148
7  2019-02-01                 2856
8  2019-03-01                 3254
9  2019-04-01                 3936
10 2019-05-01                 3899
11 2019-06-01                 4586
12 2019-07-01                 5296
13 2019-08-01                 6514
14 2019-09-01                 4340
15 2019-10-01                 4388
16 2019-11-01                 3750
17 2019-12-01                 3971
18 2020-01-01                 4269
19 2020-02-01                 4810
20 2020-03-01                 2017
21 2020-04-01                   93
22 2020-05-01                  230
23 2020-06-01                 1506
24 2020-07-01                 4492
25 2020-08-01                 6937
26 2020-09-01                 3853
27 2020-10-01                 2955
28 2020-11-01                  519
29 2020-12-01                 1389
30 2021-01-01                 1853
31 2021-02-01                 1778
32 2021-03-01                 1528
33 2021-04-01                  813
34 2021-05-01                 2186
35 2021-06-01                 3860
36 2021-07-01                 7386
37 2021-08-01                 9354
38 2021-09-01                 7044
39 2021-10-01                 8118
40 2021-11-01                 7636
41 2021-12-01                 1082
42 2022-01-01                    1

# Base google trends - observations par jour

In [18]:
df_gt=pd.read_csv("google_trends_fr_1.csv")
df_gt['date']=pd.to_datetime(df_gt['date'])

In [19]:
df_gt2 = df_gt.reset_index().pivot_table(values = "value", index = "date", columns = "variable")
df_gt2=df_gt2.reset_index()

Le même problème que précédemment se pose: les données sont ici journalières. Comme les données officielles sont mensuelles, il faut faire une moyenne mensuelle ici - les données représentent cette fois ci non un total comme le nombre de vols ou de sièges mais sont un indice. Faire une somme n'aurait alors pas de sens.

In [20]:
df_gt2['Year'] = df_gt2['date'].dt.year 
df_gt2['Month'] = df_gt2['date'].dt.month 
df_gt2['Year-Month'] = df_gt2['date'].dt.strftime('%Y-%m-01')

In [21]:
df_gt3 = df_gt2.groupby('Year-Month', as_index=False).mean()

In [22]:
df_gt3

variable,Year-Month,aeroport nice cote d azur theme_cat_voyages,aeroport paris_cat_voyages,cote d azur theme_cat_voyages,disneyland paris hotel_cat_voyages,disneyland paris theme_cat_voyages,disneyland paris_cat_voyages,french riviera_cat_voyages,louvre_cat_voyages,lyon gare_cat_voyages,...,nice airport_cat_voyages,nice hotel_cat_voyages,nice_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages,promenade des anglais_cat_voyages,Year,Month
0,2017-01-01,11.271290,3.965806,15.064194,36.698065,33.338710,41.417419,1.131290,10.424194,25.796129,...,7.272581,12.160000,26.329032,29.070000,17.042258,26.485161,35.481935,0.245161,2017.0,1.0
1,2017-02-01,11.683571,5.925000,17.884286,26.016429,31.757143,37.755714,1.491429,5.551429,31.879286,...,6.950000,19.350000,32.760000,50.788929,16.955714,20.282143,33.900000,0.285714,2017.0,2.0
2,2017-03-01,16.118387,2.361290,21.907742,33.387097,30.822581,37.252258,3.165806,14.763871,29.874839,...,10.358710,15.893226,37.266452,28.394516,16.641935,18.933871,32.660000,0.322581,2017.0,3.0
3,2017-04-01,15.310000,5.823000,25.233333,21.675000,36.384000,35.860000,5.215000,12.657667,29.925000,...,7.700000,14.950000,39.190667,35.734333,16.040000,21.633333,37.740000,0.462000,2017.0,4.0
4,2017-05-01,15.510000,6.025806,25.379355,21.507097,29.989032,39.237097,3.229032,9.855484,31.423548,...,11.604839,15.420645,36.708065,37.948387,14.286774,19.225806,37.953548,0.677419,2017.0,5.0
5,2017-06-01,15.882333,5.983333,42.267000,18.640000,29.172000,32.781000,4.494000,9.636000,36.965333,...,14.529000,19.443333,45.520000,34.696667,13.610333,25.775333,39.621333,2.086333,2017.0,6.0
6,2017-07-01,21.826452,8.320000,47.550968,32.166129,37.334839,39.140645,3.210968,11.125161,38.800000,...,17.940323,28.564516,50.501613,41.249032,16.258065,21.269032,39.468387,4.398065,2017.0,7.0
7,2017-08-01,19.661935,6.712258,33.743226,35.361290,39.642581,45.735484,4.185806,13.349032,33.380000,...,14.534194,15.527097,47.174194,37.109032,15.903226,28.722581,36.362903,4.434839,2017.0,8.0
8,2017-09-01,20.966667,6.600000,17.652000,30.940000,35.040000,40.500000,2.324000,12.392000,33.550000,...,14.040000,16.648667,34.503000,37.264000,17.783333,28.800000,37.425000,0.917000,2017.0,9.0
9,2017-10-01,14.240000,5.858065,17.663871,32.260000,38.878710,44.652258,1.317742,13.458710,35.260000,...,10.472903,14.623548,32.556129,40.480968,19.438710,25.091935,35.724194,0.000000,2017.0,10.0
10,2017-11-01,17.324667,4.857000,11.175000,29.986000,34.335000,32.266000,1.628667,14.166667,31.770667,...,2.813333,12.656000,28.392000,36.053333,15.592667,20.356000,34.235000,0.233333,2017.0,11.0
11,2017-12-01,6.761290,3.896129,16.908387,25.641290,25.480968,30.435484,1.104839,12.375484,36.218387,...,3.855484,8.203871,23.045806,35.303226,14.277419,20.532581,32.881935,0.000000,2017.0,12.0
12,2018-01-01,11.666452,5.295484,29.891613,53.715484,46.280000,51.729032,2.050968,11.677419,36.560645,...,5.037097,16.221290,38.030323,35.448387,18.983226,24.247097,40.892903,0.635484,2018.0,1.0
13,2018-02-01,9.817143,3.994286,24.100714,33.878571,38.665714,46.674286,4.656786,12.207143,34.515000,...,6.750000,12.873214,33.775000,36.912857,17.065714,19.864286,37.327500,0.642857,2018.0,2.0
14,2018-03-01,12.130000,7.339355,19.592903,37.980000,36.030968,41.125161,1.824516,16.019355,42.088065,...,7.806452,18.143548,34.450000,45.932903,17.790968,22.709677,40.258065,2.843871,2018.0,3.0
15,2018-04-01,20.946667,7.003333,29.620000,26.383333,32.672000,40.851333,3.095000,17.217000,39.843000,...,14.616000,13.373333,39.490667,38.884333,14.679000,23.850667,38.289333,0.858667,2018.0,4.0
16,2018-05-01,15.270000,5.054839,31.006452,26.129032,31.848387,35.680968,3.879677,14.523871,40.402581,...,13.558065,16.794839,44.416774,46.876129,16.529032,30.680000,39.948387,2.055161,2018.0,5.0
17,2018-06-01,17.279000,5.096667,37.720000,28.861000,28.952000,36.810667,6.180000,11.840000,39.317333,...,17.824000,14.485333,48.546000,41.473000,15.818000,30.818667,36.195000,2.480000,2018.0,6.0
18,2018-07-01,21.666129,6.603548,46.451613,39.100000,33.758065,47.800000,6.008065,15.555484,41.348387,...,20.823871,26.189032,52.373226,38.956129,18.385161,23.145161,41.803548,5.832258,2018.0,7.0
19,2018-08-01,25.010323,6.223871,43.318710,34.376452,42.153548,50.054516,4.167742,13.006452,40.216129,...,17.723871,17.987097,52.316129,41.555806,17.450968,25.519355,38.888710,1.914839,2018.0,8.0
20,2018-09-01,16.146667,5.250000,20.408667,45.456667,36.521333,40.589333,5.010000,10.703333,38.928000,...,13.216000,15.360000,39.366000,49.375000,22.200000,22.230000,40.016667,0.100000,2018.0,9.0
21,2018-10-01,17.264516,3.579677,9.570968,41.063226,36.371613,49.354839,3.486452,16.002581,40.843548,...,9.967742,14.930323,38.388387,49.592903,17.566452,31.252903,38.183226,0.410968,2018.0,10.0
22,2018-11-01,13.640000,4.596000,8.499333,26.514667,33.973333,38.647333,1.656000,11.816000,32.033333,...,4.810000,11.544000,26.268000,41.064667,16.233000,29.300000,37.238000,1.280000,2018.0,11.0
23,2018-12-01,12.696774,5.460968,11.145806,19.709677,27.174194,30.366452,0.882581,10.664516,34.188710,...,5.229677,8.643871,29.546452,32.985161,12.141290,23.287742,33.234839,0.819677,2018.0,12.0
24,2019-01-01,13.276774,6.467742,19.700645,37.905484,36.443226,42.312581,2.581935,15.362903,31.134194,...,5.675806,16.276129,35.288710,34.639355,18.919355,31.367742,40.443871,0.225806,2019.0,1.0
25,2019-02-01,12.955357,5.007143,17.619286,30.129643,31.648571,44.635714,3.612143,15.376429,33.167143,...,6.908571,15.621429,38.202500,41.114643,15.093571,28.945000,38.674286,0.142857,2019.0,2.0
26,2019-03-01,8.491935,5.636129,22.129032,38.980000,19.596774,24.655161,3.915484,17.905161,43.664516,...,12.043226,13.250000,35.096774,48.195484,16.854839,29.320968,38.935484,0.675161,2019.0,3.0
27,2019-04-01,22.464667,7.921333,34.568000,28.772333,40.266667,38.791333,4.866667,19.590000,34.782000,...,14.160667,16.740000,43.725000,52.026333,17.273000,31.826667,26.748000,2.062667,2019.0,4.0
28,2019-05-01,20.509677,6.340968,28.637097,31.652903,35.783548,48.247742,2.906129,17.156774,45.050323,...,14.153548,19.342258,45.324194,46.261935,15.384194,22.787419,40.273548,0.641935,2019.0,5.0
29,2019-06-01,17.525667,5.195667,33.716667,21.733333,35.342667,43.066000,5.673333,17.341333,44.536000,...,19.643000,15.059000,50.201667,48.934000,17.250000,30.668000,47.556000,0.766667,2019.0,6.0
30,2019-07-01,16.803871,7.865806,47.283871,32.723548,40.229677,47.587742,5.068710,18.058065,56.421290,...,24.293226,19.404516,62.233548,51.572258,18.132258,24.725161,41.458065,2.331613,2019.0,7.0
31,2019-08-01,26.232258,8.040000,45.159677,32.980000,46.905484,45.409677,5.698065,18.958065,38.116129,...,17.414194,19.159355,58.105484,53.434839,17.067742,27.880000,44.317419,4.445161,2019.0,8.0
32,2019-09-01,19.560000,5.907000,22.984667,39.693333,40.329333,44.800000,4.380000,18.315000,52.642333,...,15.300000,18.645000,35.625000,58.156000,19.216667,31.075667,45.862667,1.265333,2019.0,9.0
33,2019-10-01,15.809677,6.722581,17.640000,34.993548,39.141290,44.116129,1.641613,16.629677,50.534839,...,8.752258,8.438065,31.131613,41.891613,18.526452,34.722581,37.967742,1.301613,2019.0,10.0
34,2019-11-01,7.743000,4.968000,11.820667,31.281333,35.333333,42.212000,2.356667,15.372000,41.109333,...,6.315000,10.304000,28.523333,43.968000,16.897333,30.951000,37.505333,0.000000,2019.0,11.0
35,2019-12-01,10.162581,6.828387,14.470000,32.299355,32.500000,39.000000,2.319032,12.178065,30.054839,...,7.002903,11.723871,25.253226,40.619355,14.158065,25.464194,36.083871,0.187742,2019.0,12.0
36,2020-01-01,12.363871,5.567742,20.280000,32.685484,43.900323,56.322581,5.472903,17.278387,39.466452,...,9.807097,21.508065,39.500323,39.960000,19.641290,23.887742,42.435484,0.830323,2020.0,1.0
37,2020-02-01,14.695172,5.117241,23.836552,31.100000,40.870690,50.624828,3.220000,16.529655,16.572414,...,7.479310,14.540000,35.178621,28.329655,17.304828,26.268966,39.591724,0.103448,2020.0,2.0
38,2020-03-01,7.797097,3.894194,11.832258,6.332258,14.216129,16.043548,1.181935,7.343226,15.572903,...,3.248387,4.385161,18.900000,18.392903,10.012903,5.445484,21.471290,0.096774,2020.0,3.0
39,2020-04-01,2.316000,1.095000,12.006000,6.528667,12.990000,16.366667,1.809000,6.780000,5.148000,...,0.858000,2.296000,10.064000,6.647000,3.626000,2.378000,13.130667,0.000000,2020.0,4.0
40,2020-05-01,2.978065,1.500000,15.920000,5.109677,13.163226,17.491935,1.585161,6.259355,10.019355,...,0.813871,4.325806,15.654839,6.090323,4.035484,5.109677,12.721935,0.485161,2020.0,5.0
41,2020-06-01,7.508667,2.366667,26.500000,8.015333,13.301667,17.780000,2.672000,5.624667,20.609333,...,2.629667,7.264333,26.775667,25.242000,6.096000,15.222667,19.950000,2.324333,2020.0,6.0
42,2020-07-01,10.800000,3.373548,45.189677,10.050968,21.946452,29.174194,1.682581,7.316129,30.192903,...,5.241290,18.546452,40.080645,31.693548,9.890323,21.054194,25.345161,2.254839,2020.0,7.0
43,2020-08-01,13.501935,3.270968,35.889355,15.067742,19.021935,22.237742,1.692903,8.124194,34.022581,...,5.016774,13.280000,36.548387,27.786774,7.687742,18.418065,23.574194,2.788710,2020.0,8.0
44,2020-09-01,5.212667,2.620000,16.858667,6.534000,13.909000,16.443000,2.019000,6.920000,20.923667,...,2.000000,8.201667,21.057333,25.973333,6.753333,11.718000,16.176000,0.392000,2020.0,9.0
45,2020-10-01,3.235484,2.112258,9.459677,10.023548,13.318065,16.998710,0.483871,7.573548,10.134194,...,1.224516,7.393548,14.947097,16.414839,5.770968,10.084516,18.379355,0.708387,2020.0,10.0
46,2020-11-01,2.069667,1.547000,5.990000,4.857667,5.100333,5.990000,0.746667,2.807000,9.138000,...,0.556667,3.000000,12.120000,5.202000,3.256000,2.256000,11.595000,0.564000,2020.0,11.0
47,2020-12-01,4.297097,1.876129,7.918710,3.845484,7.819355,8.574194,1.553548,5.712903,16.155806,...,0.943226,5.640645,17.814194,10.534194,4.669677,3.370968,15.003871,0.000000,2020.0,12.0
48,2021-01-01,4.887097,1.827097,13.972903,5.419355,7.917419,10.214194,0.545161,5.521290,17.630000,...,1.074194,3.892581,19.620968,10.399355,4.866129,4.942903,13.587097,0.000000,2021.0,1.0
49,2021-02-01,3.996429,1.515000,11.588571,3.918571,7.954286,8.871429,1.212857,4.745714,13.600000,...,0.871071,5.108571,15.692857,10.127857,4.832500,2.661429,10.414286,0.000000,2021.0,2.0
50,2021-03-01,4.206774,1.361613,13.914194,5.601290,7.598710,8.106452,1.331613,4.041290,16.360000,...,1.311290,6.725161,17.400000,12.332903,5.080645,2.768387,8.770645,0.000000,2021.0,3.0
51,2021-04-01,3.346667,1.631000,14.450000,5.130000,8.276667,8.610000,1.540000,4.503000,13.550000,...,1.277333,5.499000,22.045333,11.344000,5.506667,3.264000,14.433000,0.000000,2021.0,4.0
52,2021-05-01,7.263226,3.004839,20.282581,8.830000,13.555161,17.560000,0.938710,5.419355,22.536774,...,2.093226,9.800000,26.472903,16.216774,6.277419,10.761290,17.953548,0.140323,2021.0,5.0
53,2021-06-01,9.093333,3.348333,31.661667,14.664000,18.961667,23.088000,1.791000,6.626667,21.588667,...,2.028000,12.334667,33.073333,26.400000,8.052000,17.906667,22.080000,2.484000,2021.0,6.0
54,2021-07-01,15.472903,4.139355,37.371290,17.323548,21.852903,29.393548,1.096774,8.323226,36.009677,...,6.038710,17.691935,38.929355,24.404516,11.014839,25.998387,24.949677,2.666129,2021.0,7.0
55,2021-08-01,14.551613,3.032903,38.340000,20.173548,30.184839,34.374194,0.700000,9.377419,34.219355,...,6.517742,20.254516,40.211613,30.013548,10.301290,22.569677,28.225806,2.595484,2021.0,8.0
56,2021-09-01,12.432000,3.712333,21.634667,27.510667,25.024333,34.447000,0.981333,11.001000,35.970333,...,5.002667,14.698667,29.846667,42.697333,12.041667,20.335333,27.615000,0.862333,2021.0,9.0
57,2021-10-01,6.250323,3.282581,15.004516,32.055484,36.572903,45.171613,1.309677,12.186774,39.824516,...,2.273548,10.540645,27.198387,31.497097,10.869677,25.880323,25.109677,2.103226,2021.0,10.0
58,2021-11-01,5.074333,2.805000,8.949000,20.969000,27.250667,42.220000,1.081667,13.033333,35.578667,...,1.981667,9.288000,19.460000,29.946000,10.290000,20.322333,23.312000,0.975000,2021.0,11.0
59,2021-12-01,5.837419,3.048387,10.753548,12.115161,25.959677,31.710968,3.786774,8.941935,29.992258,...,2.125806,6.290968,14.961290,29.670968,8.253548,23.405161,21.025161,1.556129,2021.0,12.0

In [23]:
# je transforme la variable year-month en variable temps
df_gt3['Year-Month']=pd.to_datetime(df_gt3['Year-Month'], errors='coerce')

# Fusion des df

In [124]:
# Fusion du nb d'avions et du nb de sièges et le nb de touristes offciels
df_fusion_aerien=df_France_Official_Data2.merge(df_air_traffic_imput4, how='inner', left_on="date", right_on="Year-Month")
df_fusion_aerien

         date  value_in_thousands Year-Month      seats  number_planes
0  2017-12-01             8162.78 2017-12-01   150953.0            864
1  2018-01-01             7056.71 2018-01-01  3467197.0          20498
2  2018-02-01             7443.10 2018-02-01  3407715.0          20251
3  2018-03-01             9230.84 2018-03-01  4105976.0          24307
4  2018-04-01             9618.15 2018-04-01  3876068.0          22804
5  2018-05-01            10734.97 2018-05-01  4214402.0          25008
6  2018-06-01            11803.88 2018-06-01  4244152.0          25250
7  2018-07-01            12938.61 2018-07-01  4883670.0          28912
8  2018-08-01            13230.29 2018-08-01  4964357.0          28874
9  2018-09-01            11500.99 2018-09-01  4814087.0          28821
10 2018-10-01            10298.17 2018-10-01  4780669.0          28277
11 2018-11-01             8161.55 2018-11-01  3450107.0          20388
12 2018-12-01             7995.92 2018-12-01  2669261.0          15424
13 2019-01-01             7020.50 2019-01-01  3553036.0          20469
14 2019-02-01             7582.23 2019-02-01  3562193.0          20856
15 2019-03-01             8979.44 2019-03-01  3984509.0          23365
16 2019-04-01            10352.06 2019-04-01  4609542.0          27047
17 2019-05-01            10549.21 2019-05-01  4785556.0          28158
18 2019-06-01            12353.69 2019-06-01  4893997.0          28659
19 2019-07-01            13034.84 2019-07-01  5133013.0          29566
20 2019-08-01            13534.05 2019-08-01  5039940.0          28483
21 2019-09-01            11576.56 2019-09-01  4567188.0          25580
22 2019-10-01            10259.45 2019-10-01  4415223.0          24504
23 2019-11-01             8346.83 2019-11-01  3551574.0          19542
24 2019-12-01             8166.96 2019-12-01  3504007.0          19097
25 2020-01-01                0.00 2020-01-01  3514455.0          19232
26 2020-02-01                0.00 2020-02-01  3265337.0          18275
27 2020-03-01                0.00 2020-03-01  2098871.0          11417
28 2020-04-01                0.00 2020-04-01   142539.0            490
29 2020-05-01                0.00 2020-05-01   216458.0            758
30 2020-06-01                0.00 2020-06-01   521813.0           2493
31 2020-07-01             8577.35 2020-07-01  1447529.0           8082
32 2020-08-01             9913.52 2020-08-01  1981633.0          11388
33 2020-09-01             7036.22 2020-09-01  1736747.0          10291
34 2020-10-01             5480.17 2020-10-01  1474498.0           8607
35 2020-11-01                0.00 2020-11-01   779541.0           4140
36 2020-12-01                0.00 2020-12-01  1094520.0           5870
37 2021-01-01                0.00 2021-01-01  1109331.0           5939
38 2021-02-01                0.00 2021-02-01   838165.0           4602
39 2021-03-01                0.00 2021-03-01   856230.0           4806
40 2021-04-01                0.00 2021-04-01   874821.0           4979
41 2021-05-01             4575.12 2021-05-01  1098536.0           6439
42 2021-06-01             6913.27 2021-06-01  1522735.0           8888
43 2021-07-01            10498.30 2021-07-01  2415526.0          13776
44 2021-08-01            11095.90 2021-08-01  2578237.0          14715
45 2021-09-01             9442.13 2021-09-01  2380217.0          13556
46 2021-10-01             9121.07 2021-10-01  2421248.0          13785

In [125]:
# Fusion des commentaires laissés par les touristes et le nb de touristes offciels
df_fusion_commentaires=df_France_Official_Data2.merge(df_reviews_france2, how='inner', left_on="date", right_on="stay_date")
df_fusion_commentaires.head(5)

        date  value_in_thousands  stay_date  number_of_reviewers
0 2018-07-01            12938.61 2018-07-01                  936
1 2018-08-01            13230.29 2018-08-01                 4342
2 2018-09-01            11500.99 2018-09-01                 3614
3 2018-10-01            10298.17 2018-10-01                 3477
4 2018-11-01             8161.55 2018-11-01                 3755

In [126]:
# Fusion des gt et le nb de touristes offciels
df_fusion_gt=df_France_Official_Data2.merge(df_gt3, how='inner', left_on="date", right_on="Year-Month")
df_fusion_gt

,date,value_in_thousands,Year-Month,aeroport nice cote d azur theme_cat_voyages,aeroport paris_cat_voyages,cote d azur theme_cat_voyages,disneyland paris hotel_cat_voyages,disneyland paris theme_cat_voyages,disneyland paris_cat_voyages,french riviera_cat_voyages,...,nice airport_cat_voyages,nice hotel_cat_voyages,nice_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages,promenade des anglais_cat_voyages,Year,Month
0,2017-01-01,6887.63,2017-01-01,11.271290,3.965806,15.064194,36.698065,33.338710,41.417419,1.131290,...,7.272581,12.160000,26.329032,29.070000,17.042258,26.485161,35.481935,0.245161,2017.0,1.0
1,2017-02-01,7304.45,2017-02-01,11.683571,5.925000,17.884286,26.016429,31.757143,37.755714,1.491429,...,6.950000,19.350000,32.760000,50.788929,16.955714,20.282143,33.900000,0.285714,2017.0,2.0
2,2017-03-01,8564.83,2017-03-01,16.118387,2.361290,21.907742,33.387097,30.822581,37.252258,3.165806,...,10.358710,15.893226,37.266452,28.394516,16.641935,18.933871,32.660000,0.322581,2017.0,3.0
3,2017-04-01,10106.67,2017-04-01,15.310000,5.823000,25.233333,21.675000,36.384000,35.860000,5.215000,...,7.700000,14.950000,39.190667,35.734333,16.040000,21.633333,37.740000,0.462000,2017.0,4.0
4,2017-05-01,10382.97,2017-05-01,15.510000,6.025806,25.379355,21.507097,29.989032,39.237097,3.229032,...,11.604839,15.420645,36.708065,37.948387,14.286774,19.225806,37.953548,0.677419,2017.0,5.0
5,2017-06-01,11560.11,2017-06-01,15.882333,5.983333,42.267000,18.640000,29.172000,32.781000,4.494000,...,14.529000,19.443333,45.520000,34.696667,13.610333,25.775333,39.621333,2.086333,2017.0,6.0
6,2017-07-01,12972.80,2017-07-01,21.826452,8.320000,47.550968,32.166129,37.334839,39.140645,3.210968,...,17.940323,28.564516,50.501613,41.249032,16.258065,21.269032,39.468387,4.398065,2017.0,7.0
7,2017-08-01,12835.78,2017-08-01,19.661935,6.712258,33.743226,35.361290,39.642581,45.735484,4.185806,...,14.534194,15.527097,47.174194,37.109032,15.903226,28.722581,36.362903,4.434839,2017.0,8.0
8,2017-09-01,11343.99,2017-09-01,20.966667,6.600000,17.652000,30.940000,35.040000,40.500000,2.324000,...,14.040000,16.648667,34.503000,37.264000,17.783333,28.800000,37.425000,0.917000,2017.0,9.0
9,2017-10-01,10065.70,2017-10-01,14.240000,5.858065,17.663871,32.260000,38.878710,44.652258,1.317742,...,10.472903,14.623548,32.556129,40.480968,19.438710,25.091935,35.724194,0.000000,2017.0,10.0
10,2017-11-01,8000.24,2017-11-01,17.324667,4.857000,11.175000,29.986000,34.335000,32.266000,1.628667,...,2.813333,12.656000,28.392000,36.053333,15.592667,20.356000,34.235000,0.233333,2017.0,11.0
11,2017-12-01,8162.78,2017-12-01,6.761290,3.896129,16.908387,25.641290,25.480968,30.435484,1.104839,...,3.855484,8.203871,23.045806,35.303226,14.277419,20.532581,32.881935,0.000000,2017.0,12.0
12,2018-01-01,7056.71,2018-01-01,11.666452,5.295484,29.891613,53.715484,46.280000,51.729032,2.050968,...,5.037097,16.221290,38.030323,35.448387,18.983226,24.247097,40.892903,0.635484,2018.0,1.0
13,2018-02-01,7443.10,2018-02-01,9.817143,3.994286,24.100714,33.878571,38.665714,46.674286,4.656786,...,6.750000,12.873214,33.775000,36.912857,17.065714,19.864286,37.327500,0.642857,2018.0,2.0
14,2018-03-01,9230.84,2018-03-01,12.130000,7.339355,19.592903,37.980000,36.030968,41.125161,1.824516,...,7.806452,18.143548,34.450000,45.932903,17.790968,22.709677,40.258065,2.843871,2018.0,3.0
15,2018-04-01,9618.15,2018-04-01,20.946667,7.003333,29.620000,26.383333,32.672000,40.851333,3.095000,...,14.616000,13.373333,39.490667,38.884333,14.679000,23.850667,38.289333,0.858667,2018.0,4.0
16,2018-05-01,10734.97,2018-05-01,15.270000,5.054839,31.006452,26.129032,31.848387,35.680968,3.879677,...,13.558065,16.794839,44.416774,46.876129,16.529032,30.680000,39.948387,2.055161,2018.0,5.0
17,2018-06-01,11803.88,2018-06-01,17.279000,5.096667,37.720000,28.861000,28.952000,36.810667,6.180000,...,17.824000,14.485333,48.546000,41.473000,15.818000,30.818667,36.195000,2.480000,2018.0,6.0
18,2018-07-01,12938.61,2018-07-01,21.666129,6.603548,46.451613,39.100000,33.758065,47.800000,6.008065,...,20.823871,26.189032,52.373226,38.956129,18.385161,23.145161,41.803548,5.832258,2018.0,7.0
19,2018-08-01,13230.29,2018-08-01,25.010323,6.223871,43.318710,34.376452,42.153548,50.054516,4.167742,...,17.723871,17.987097,52.316129,41.555806,17.450968,25.519355,38.888710,1.914839,2018.0,8.0
20,2018-09-01,11500.99,2018-09-01,16.146667,5.250000,20.408667,45.456667,36.521333,40.589333,5.010000,...,13.216000,15.360000,39.366000,49.375000,22.200000,22.230000,40.016667,0.100000,2018.0,9.0
21,2018-10-01,10298.17,2018-10-01,17.264516,3.579677,9.570968,41.063226,36.371613,49.354839,3.486452,...,9.967742,14.930323,38.388387,49.592903,17.566452,31.252903,38.183226,0.410968,2018.0,10.0
22,2018-11-01,8161.55,2018-11-01,13.640000,4.596000,8.499333,26.514667,33.973333,38.647333,1.656000,...,4.810000,11.544000,26.268000,41.064667,16.233000,29.300000,37.238000,1.280000,2018.0,11.0
23,2018-12-01,7995.92,2018-12-01,12.696774,5.460968,11.145806,19.709677,27.174194,30.366452,0.882581,...,5.229677,8.643871,29.546452,32.985161,12.141290,23.287742,33.234839,0.819677,2018.0,12.0
24,2019-01-01,7020.50,2019-01-01,13.276774,6.467742,19.700645,37.905484,36.443226,42.312581,2.581935,...,5.675806,16.276129,35.288710,34.639355,18.919355,31.367742,40.443871,0.225806,2019.0,1.0
25,2019-02-01,7582.23,2019-02-01,12.955357,5.007143,17.619286,30.129643,31.648571,44.635714,3.612143,...,6.908571,15.621429,38.202500,41.114643,15.093571,28.945000,38.674286,0.142857,2019.0,2.0
26,2019-03-01,8979.44,2019-03-01,8.491935,5.636129,22.129032,38.980000,19.596774,24.655161,3.915484,...,12.043226,13.250000,35.096774,48.195484,16.854839,29.320968,38.935484,0.675161,2019.0,3.0
27,2019-04-01,10352.06,2019-04-01,22.464667,7.921333,34.568000,28.772333,40.266667,38.791333,4.866667,...,14.160667,16.740000,43.725000,52.026333,17.273000,31.826667,26.748000,2.062667,2019.0,4.0
28,2019-05-01,10549.21,2019-05-01,20.509677,6.340968,28.637097,31.652903,35.783548,48.247742,2.906129,...,14.153548,19.342258,45.324194,46.261935,15.384194,22.787419,40.273548,0.641935,2019.0,5.0
29,2019-06-01,12353.69,2019-06-01,17.525667,5.195667,33.716667,21.733333,35.342667,43.066000,5.673333,...,19.643000,15.059000,50.201667,48.934000,17.250000,30.668000,47.556000,0.766667,2019.0,6.0
30,2019-07-01,13034.84,2019-07-01,16.803871,7.865806,47.283871,32.723548,40.229677,47.587742,5.068710,...,24.293226,19.404516,62.233548,51.572258,18.132258,24.725161,41.458065,2.331613,2019.0,7.0
31,2019-08-01,13534.05,2019-08-01,26.232258,8.040000,45.159677,32.980000,46.905484,45.409677,5.698065,...,17.414194,19.159355,58.105484,53.434839,17.067742,27.880000,44.317419,4.445161,2019.0,8.0
32,2019-09-01,11576.56,2019-09-01,19.560000,5.907000,22.984667,39.693333,40.329333,44.800000,4.380000,...,15.300000,18.645000,35.625000,58.156000,19.216667,31.075667,45.862667,1.265333,2019.0,9.0
33,2019-10-01,10259.45,2019-10-01,15.809677,6.722581,17.640000,34.993548,39.141290,44.116129,1.641613,...,8.752258,8.438065,31.131613,41.891613,18.526452,34.722581,37.967742,1.301613,2019.0,10.0
34,2019-11-01,8346.83,2019-11-01,7.743000,4.968000,11.820667,31.281333,35.333333,42.212000,2.356667,...,6.315000,10.304000,28.523333,43.968000,16.897333,30.951000,37.505333,0.000000,2019.0,11.0
35,2019-12-01,8166.96,2019-12-01,10.162581,6.828387,14.470000,32.299355,32.500000,39.000000,2.319032,...,7.002903,11.723871,25.253226,40.619355,14.158065,25.464194,36.083871,0.187742,2019.0,12.0
36,2020-01-01,0.00,2020-01-01,12.363871,5.567742,20.280000,32.685484,43.900323,56.322581,5.472903,...,9.807097,21.508065,39.500323,39.960000,19.641290,23.887742,42.435484,0.830323,2020.0,1.0
37,2020-02-01,0.00,2020-02-01,14.695172,5.117241,23.836552,31.100000,40.870690,50.624828,3.220000,...,7.479310,14.540000,35.178621,28.329655,17.304828,26.268966,39.591724,0.103448,2020.0,2.0
38,2020-03-01,0.00,2020-03-01,7.797097,3.894194,11.832258,6.332258,14.216129,16.043548,1.181935,...,3.248387,4.385161,18.900000,18.392903,10.012903,5.445484,21.471290,0.096774,2020.0,3.0
39,2020-04-01,0.00,2020-04-01,2.316000,1.095000,12.006000,6.528667,12.990000,16.366667,1.809000,...,0.858000,2.296000,10.064000,6.647000,3.626000,2.378000,13.130667,0.000000,2020.0,4.0
40,2020-05-01,0.00,2020-05-01,2.978065,1.500000,15.920000,5.109677,13.163226,17.491935,1.585161,...,0.813871,4.325806,15.654839,6.090323,4.035484,5.109677,12.721935,0.485161,2020.0,5.0
41,2020-06-01,0.00,2020-06-01,7.508667,2.366667,26.500000,8.015333,13.301667,17.780000,2.672000,...,2.629667,7.264333,26.775667,25.242000,6.096000,15.222667,19.950000,2.324333,2020.0,6.0
42,2020-07-01,8577.35,2020-07-01,10.800000,3.373548,45.189677,10.050968,21.946452,29.174194,1.682581,...,5.241290,18.546452,40.080645,31.693548,9.890323,21.054194,25.345161,2.254839,2020.0,7.0
43,2020-08-01,9913.52,2020-08-01,13.501935,3.270968,35.889355,15.067742,19.021935,22.237742,1.692903,...,5.016774,13.280000,36.548387,27.786774,7.687742,18.418065,23.574194,2.788710,2020.0,8.0
44,2020-09-01,7036.22,2020-09-01,5.212667,2.620000,16.858667,6.534000,13.909000,16.443000,2.019000,...,2.000000,8.201667,21.057333,25.973333,6.753333,11.718000,16.176000,0.392000,2020.0,9.0
45,2020-10-01,5480.17,2020-10-01,3.235484,2.112258,9.459677,10.023548,13.318065,16.998710,0.483871,...,1.224516,7.393548,14.947097,16.414839,5.770968,10.084516,18.379355,0.708387,2020.0,10.0
46,2020-11-01,0.00,2020-11-01,2.069667,1.547000,5.990000,4.857667,5.100333,5.990000,0.746667,...,0.556667,3.000000,12.120000,5.202000,3.256000,2.256000,11.595000,0.564000,2020.0,11.0
47,2020-12-01,0.00,2020-12-01,4.297097,1.876129,7.918710,3.845484,7.819355,8.574194,1.553548,...,0.943226,5.640645,17.814194,10.534194,4.669677,3.370968,15.003871,0.000000,2020.0,12.0
48,2021-01-01,0.00,2021-01-01,4.887097,1.827097,13.972903,5.419355,7.917419,10.214194,0.545161,...,1.074194,3.892581,19.620968,10.399355,4.866129,4.942903,13.587097,0.000000,2021.0,1.0
49,2021-02-01,0.00,2021-02-01,3.996429,1.515000,11.588571,3.918571,7.954286,8.871429,1.212857,...,0.871071,5.108571,15.692857,10.127857,4.832500,2.661429,10.414286,0.000000,2021.0,2.0
50,2021-03-01,0.00,2021-03-01,4.206774,1.361613,13.914194,5.601290,7.598710,8.106452,1.331613,...,1.311290,6.725161,17.400000,12.332903,5.080645,2.768387,8.770645,0.000000,2021.0,3.0
51,2021-04-01,0.00,2021-04-01,3.346667,1.631000,14.450000,5.130000,8.276667,8.610000,1.540000,...,1.277333,5.499000,22.045333,11.344000,5.506667,3.264000,14.433000,0.000000,2021.0,4.0
52,2021-05-01,4575.12,2021-05-01,7.263226,3.004839,20.282581,8.830000,13.555161,17.560000,0.938710,...,2.093226,9.800000,26.472903,16.216774,6.277419,10.761290,17.953548,0.140323,2021.0,5.0
53,2021-06-01,6913.27,2021-06-01,9.093333,3.348333,31.661667,14.664000,18.961667,23.088000,1.791000,...,2.028000,12.334667,33.073333,26.400000,8.052000,17.906667,22.080000,2.484000,2021.0,6.0
54,2021-07-01,10498.30,2021-07-01,15.472903,4.139355,37.371290,17.323548,21.852903,29.393548,1.096774,...,6.038710,17.691935,38.929355,24.404516,11.014839,25.998387,24.949677,2.666129,2021.0,7.0
55,2021-08-01,11095.90,2021-08-01,14.551613,3.032903,38.340000,20.173548,30.184839,34.374194,0.700000,...,6.517742,20.254516,40.211613,30.013548,10.301290,22.569677,28.225806,2.595484,2021.0,8.0
56,2021-09-01,9442.13,2021-09-01,12.432000,3.712333,21.634667,27.510667,25.024333,34.447000,0.981333,...,5.002667,14.698667,29.846667,42.697333,12.041667,20.335333,27.615000,0.862333,2021.0,9.0
57,2021-10-01,9121.07,2021-10-01,6.250323,3.282581,15.004516,32.055484,36.572903,45.171613,1.309677,...,2.273548,10.540645,27.198387,31.497097,10.869677,25.880323,25.109677,2.103226,2021.0,10.0

# Test de régression

In [27]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

## En prenant chaque df de manière séparée

In [127]:
# Nb de vols
X = sm.add_constant(df_fusion_aerien["number_planes"])
results = sm.OLS(df_fusion_aerien['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.587
Model:                            OLS   Adj. R-squared:                  0.578
Method:                 Least Squares   F-statistic:                     64.07
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           3.40e-10
Time:                        23:46:47   Log-Likelihood:                -441.81
No. Observations:                  47   AIC:                             887.6
Df Residuals:                      45   BIC:                             891.3
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const           816.8940    895.384      0.912      0.366    -986.502    2620.290
number_planes     0.3784      0.047      8.004      0.000       0.283       0.474
==============================================================================
Omnibus:                        3.594   Durbin-Watson:                   0.684
Prob(Omnibus):                  0.166   Jarque-Bera (JB):                2.670
Skew:                          -0.332   Prob(JB):                        0.263
Kurtosis:                       3.961   Cond. No.                     3.89e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.89e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [128]:
# Nb de sièges
X = sm.add_constant(df_fusion_aerien["seats"])
results = sm.OLS(df_fusion_aerien['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.573
Model:                            OLS   Adj. R-squared:                  0.564
Method:                 Least Squares   F-statistic:                     60.42
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           7.39e-10
Time:                        23:46:55   Log-Likelihood:                -442.61
No. Observations:                  47   AIC:                             889.2
Df Residuals:                      45   BIC:                             892.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        748.7646    927.034      0.808      0.424   -1118.377    2615.906
seats          0.0022      0.000      7.773      0.000       0.002       0.003
==============================================================================
Omnibus:                        4.731   Durbin-Watson:                   0.661
Prob(Omnibus):                  0.094   Jarque-Bera (JB):                3.886
Skew:                          -0.431   Prob(JB):                        0.143
Kurtosis:                       4.113   Cond. No.                     6.84e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.84e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [129]:
# Nb de commentaires
X = sm.add_constant(df_fusion_commentaires["number_of_reviewers"])
results = sm.OLS(df_fusion_commentaires['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.401
Model:                            OLS   Adj. R-squared:                  0.385
Method:                 Least Squares   F-statistic:                     25.39
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           1.18e-05
Time:                        23:47:00   Log-Likelihood:                -385.58
No. Observations:                  40   AIC:                             775.2
Df Residuals:                      38   BIC:                             778.5
Df Model:                           1
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                1479.9236   1200.892      1.232      0.225    -951.154    3911.002
number_of_reviewers     1.4251      0.283      5.039      0.000       0.853       1.998
==============================================================================
Omnibus:                        0.449   Durbin-Watson:                   0.346
Prob(Omnibus):                  0.799   Jarque-Bera (JB):                0.086
Skew:                           0.104   Prob(JB):                        0.958
Kurtosis:                       3.094   Cond. No.                     8.46e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.46e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [130]:
# Google trends
X = sm.add_constant(df_fusion_gt.drop(["date", "value_in_thousands", "Year-Month", "Year", "Month"], axis = 1))
results = sm.OLS(df_fusion_gt['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.873
Model:                            OLS   Adj. R-squared:                  0.767
Method:                 Least Squares   F-statistic:                     8.221
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           6.25e-08
Time:                        23:47:08   Log-Likelihood:                -508.25
No. Observations:                  58   AIC:                             1070.
Df Residuals:                      31   BIC:                             1126.
Df Model:                          26
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
const                                         886.9958   1721.361      0.515      0.610   -2623.743    4397.735
aeroport nice cote d azur theme_cat_voyages   103.1001    141.657      0.728      0.472    -185.811     392.011
aeroport paris_cat_voyages                   -394.5837    383.093     -1.030      0.311   -1175.907     386.740
cote d azur theme_cat_voyages                   4.4758     93.191      0.048      0.962    -185.589     194.540
disneyland paris hotel_cat_voyages             73.7067     70.321      1.048      0.303     -69.714     217.127
disneyland paris theme_cat_voyages            298.2023    150.999      1.975      0.057      -9.762     606.166
disneyland paris_cat_voyages                 -277.7823    117.375     -2.367      0.024    -517.170     -38.395
french riviera_cat_voyages                   -360.3939    404.396     -0.891      0.380   -1185.166     464.378
louvre_cat_voyages                           -262.3535    149.265     -1.758      0.089    -566.781      42.074
lyon gare_cat_voyages                          85.4008     81.351      1.050      0.302     -80.515     251.317
lyon hotel_cat_voyages                         23.6488    139.268      0.170      0.866    -260.391     307.689
lyon_cat_voyages                              -20.9271     47.086     -0.444      0.660    -116.959      75.105
marseille gare_cat_voyages                     87.8196    107.733      0.815      0.421    -131.904     307.543
marseille hotel_cat_voyages                  -150.8814    103.520     -1.458      0.155    -362.012      60.250
marseille restaurant_cat_voyages              -11.8479    172.203     -0.069      0.946    -363.058     339.363
marseille station_cat_voyages                  10.1646    165.782      0.061      0.952    -327.951     348.280
marseille vieux port_cat_voyages               23.7133     68.176      0.348      0.730    -115.333     162.759
marseille_cat_voyages                          15.2106     54.219      0.281      0.781     -95.369     125.790
mucem theme                                   343.9524    195.100      1.763      0.088     -53.956     741.861
nice airport_cat_voyages                      365.2528    161.551      2.261      0.031      35.766     694.739
nice hotel_cat_voyages                         82.1930    143.008      0.575      0.570    -209.473     373.859
nice_cat_voyages                              -20.9403    130.457     -0.161      0.874    -287.010     245.129
paris gare_cat_voyages                         43.3017     69.665      0.622      0.539     -98.782     185.385
paris hotel_cat_voyages                      -391.5940    302.257     -1.296      0.205   -1008.052     224.864
paris restaurant_cat_voyages                  223.0664    108.866      2.049      0.049       1.032     445.101
paris_cat_voyages                              59.2203    100.800      0.588      0.561    -146.362     264.803
promenade des anglais_cat_voyages             290.3516    433.021      0.671      0.507    -592.801    1173.504
==============================================================================
Omnibus:                       12.220   Durbin-Watson:                   1.919
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               14.365
Skew:                          -0.849   Prob(JB):                     0.000760
Kurtosis:                       4.750   Cond. No.                         755.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

On met en log car les données des google trends c'est un indice donc ce sera plus représentatif d'interpréter en log.

In [134]:
columns = list(df_fusion_gt.columns.values)
columns.remove("date")
columns.remove("Year-Month")

df_fusion_gt_log = np.log(df_fusion_gt[columns]) #transforme toutes les variables en log
df_fusion_gt_log.replace([np.inf, -np.inf], np.nan, inplace=True) 
df_fusion_gt_log.dropna(inplace=True) 


X = sm.add_constant(df_fusion_gt_log.drop(["value_in_thousands", "Year", "Month"], axis = 1))
results = sm.OLS(df_fusion_gt_log['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.924
Model:                            OLS   Adj. R-squared:                  0.800
Method:                 Least Squares   F-statistic:                     7.448
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           6.27e-05
Time:                        23:54:41   Log-Likelihood:                 54.697
No. Observations:                  43   AIC:                            -55.39
Df Residuals:                      16   BIC:                            -7.842
Df Model:                          26
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
const                                           9.0624      0.838     10.816      0.000       7.286      10.839
aeroport nice cote d azur theme_cat_voyages     0.1109      0.128      0.869      0.398      -0.160       0.381
aeroport paris_cat_voyages                     -0.1524      0.103     -1.475      0.160      -0.371       0.067
cote d azur theme_cat_voyages                   0.0132      0.155      0.085      0.933      -0.316       0.343
disneyland paris hotel_cat_voyages              0.0467      0.129      0.363      0.721      -0.226       0.319
disneyland paris theme_cat_voyages              0.4550      0.294      1.548      0.141      -0.168       1.078
disneyland paris_cat_voyages                   -0.1489      0.270     -0.552      0.589      -0.721       0.423
french riviera_cat_voyages                      0.0591      0.067      0.887      0.388      -0.082       0.201
louvre_cat_voyages                             -0.1003      0.105     -0.952      0.355      -0.324       0.123
lyon gare_cat_voyages                           0.0802      0.228      0.352      0.729      -0.402       0.563
lyon hotel_cat_voyages                         -0.0295      0.228     -0.130      0.898      -0.512       0.453
lyon_cat_voyages                               -0.1075      0.136     -0.791      0.440      -0.396       0.181
marseille gare_cat_voyages                      0.1190      0.080      1.480      0.158      -0.051       0.290
marseille hotel_cat_voyages                    -0.0927      0.147     -0.632      0.536      -0.404       0.218
marseille restaurant_cat_voyages                0.1019      0.063      1.627      0.123      -0.031       0.235
marseille station_cat_voyages                  -0.0391      0.053     -0.735      0.473      -0.152       0.074
marseille vieux port_cat_voyages                0.0029      0.098      0.030      0.977      -0.204       0.210
marseille_cat_voyages                          -0.0509      0.165     -0.308      0.762      -0.401       0.300
mucem theme                                    -0.0111      0.089     -0.125      0.902      -0.199       0.177
nice airport_cat_voyages                        0.2904      0.079      3.659      0.002       0.122       0.459
nice hotel_cat_voyages                         -0.0237      0.155     -0.153      0.880      -0.353       0.305
nice_cat_voyages                               -0.2841      0.338     -0.841      0.413      -1.000       0.432
paris gare_cat_voyages                          0.0142      0.163      0.087      0.932      -0.332       0.361
paris hotel_cat_voyages                        -0.0591      0.301     -0.196      0.847      -0.698       0.579
paris restaurant_cat_voyages                    0.0260      0.155      0.168      0.869      -0.302       0.355
paris_cat_voyages                              -0.0553      0.206     -0.269      0.791      -0.491       0.380
promenade des anglais_cat_voyages               0.0822      0.028      2.921      0.010       0.023       0.142
==============================================================================
Omnibus:                        0.767   Durbin-Watson:                   1.778
Prob(Omnibus):                  0.681   Jarque-Bera (JB):                0.772
Skew:                          -0.086   Prob(JB):                        0.680
Kurtosis:                       2.367   Cond. No.                         765.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Régression sur l'ensemble des variables

In [33]:
df_fusion1=df_fusion_aerien.merge(df_fusion_commentaires, how='inner', on="date")
df_fusion1=df_fusion1[["date", "seats", "number_planes", "number_of_reviewers"]]

In [34]:
df_fusion2=df_fusion1.merge(df_fusion_gt, how='inner', on="date")

In [35]:
df_fusion2

,date,seats,number_planes,number_of_reviewers,value_in_thousands,Year-Month,aeroport nice cote d azur theme_cat_voyages,aeroport paris_cat_voyages,cote d azur theme_cat_voyages,disneyland paris hotel_cat_voyages,...,nice airport_cat_voyages,nice hotel_cat_voyages,nice_cat_voyages,paris gare_cat_voyages,paris hotel_cat_voyages,paris restaurant_cat_voyages,paris_cat_voyages,promenade des anglais_cat_voyages,Year,Month
0,2018-07-01,4883670.0,28912,936,12938.61,2018-07-01,21.666129,6.603548,46.451613,39.100000,...,20.823871,26.189032,52.373226,38.956129,18.385161,23.145161,41.803548,5.832258,2018.0,7.0
1,2018-08-01,4964357.0,28874,4342,13230.29,2018-08-01,25.010323,6.223871,43.318710,34.376452,...,17.723871,17.987097,52.316129,41.555806,17.450968,25.519355,38.888710,1.914839,2018.0,8.0
2,2018-09-01,4814087.0,28821,3614,11500.99,2018-09-01,16.146667,5.250000,20.408667,45.456667,...,13.216000,15.360000,39.366000,49.375000,22.200000,22.230000,40.016667,0.100000,2018.0,9.0
3,2018-10-01,4780669.0,28277,3477,10298.17,2018-10-01,17.264516,3.579677,9.570968,41.063226,...,9.967742,14.930323,38.388387,49.592903,17.566452,31.252903,38.183226,0.410968,2018.0,10.0
4,2018-11-01,3450107.0,20388,3755,8161.55,2018-11-01,13.640000,4.596000,8.499333,26.514667,...,4.810000,11.544000,26.268000,41.064667,16.233000,29.300000,37.238000,1.280000,2018.0,11.0
5,2018-12-01,2669261.0,15424,3842,7995.92,2018-12-01,12.696774,5.460968,11.145806,19.709677,...,5.229677,8.643871,29.546452,32.985161,12.141290,23.287742,33.234839,0.819677,2018.0,12.0
6,2019-01-01,3553036.0,20469,3148,7020.50,2019-01-01,13.276774,6.467742,19.700645,37.905484,...,5.675806,16.276129,35.288710,34.639355,18.919355,31.367742,40.443871,0.225806,2019.0,1.0
7,2019-02-01,3562193.0,20856,2856,7582.23,2019-02-01,12.955357,5.007143,17.619286,30.129643,...,6.908571,15.621429,38.202500,41.114643,15.093571,28.945000,38.674286,0.142857,2019.0,2.0
8,2019-03-01,3984509.0,23365,3254,8979.44,2019-03-01,8.491935,5.636129,22.129032,38.980000,...,12.043226,13.250000,35.096774,48.195484,16.854839,29.320968,38.935484,0.675161,2019.0,3.0
9,2019-04-01,4609542.0,27047,3936,10352.06,2019-04-01,22.464667,7.921333,34.568000,28.772333,...,14.160667,16.740000,43.725000,52.026333,17.273000,31.826667,26.748000,2.062667,2019.0,4.0
10,2019-05-01,4785556.0,28158,3899,10549.21,2019-05-01,20.509677,6.340968,28.637097,31.652903,...,14.153548,19.342258,45.324194,46.261935,15.384194,22.787419,40.273548,0.641935,2019.0,5.0
11,2019-06-01,4893997.0,28659,4586,12353.69,2019-06-01,17.525667,5.195667,33.716667,21.733333,...,19.643000,15.059000,50.201667,48.934000,17.250000,30.668000,47.556000,0.766667,2019.0,6.0
12,2019-07-01,5133013.0,29566,5296,13034.84,2019-07-01,16.803871,7.865806,47.283871,32.723548,...,24.293226,19.404516,62.233548,51.572258,18.132258,24.725161,41.458065,2.331613,2019.0,7.0
13,2019-08-01,5039940.0,28483,6514,13534.05,2019-08-01,26.232258,8.040000,45.159677,32.980000,...,17.414194,19.159355,58.105484,53.434839,17.067742,27.880000,44.317419,4.445161,2019.0,8.0
14,2019-09-01,4567188.0,25580,4340,11576.56,2019-09-01,19.560000,5.907000,22.984667,39.693333,...,15.300000,18.645000,35.625000,58.156000,19.216667,31.075667,45.862667,1.265333,2019.0,9.0
15,2019-10-01,4415223.0,24504,4388,10259.45,2019-10-01,15.809677,6.722581,17.640000,34.993548,...,8.752258,8.438065,31.131613,41.891613,18.526452,34.722581,37.967742,1.301613,2019.0,10.0
16,2019-11-01,3551574.0,19542,3750,8346.83,2019-11-01,7.743000,4.968000,11.820667,31.281333,...,6.315000,10.304000,28.523333,43.968000,16.897333,30.951000,37.505333,0.000000,2019.0,11.0
17,2019-12-01,3504007.0,19097,3971,8166.96,2019-12-01,10.162581,6.828387,14.470000,32.299355,...,7.002903,11.723871,25.253226,40.619355,14.158065,25.464194,36.083871,0.187742,2019.0,12.0
18,2020-01-01,3514455.0,19232,4269,0.00,2020-01-01,12.363871,5.567742,20.280000,32.685484,...,9.807097,21.508065,39.500323,39.960000,19.641290,23.887742,42.435484,0.830323,2020.0,1.0
19,2020-02-01,3265337.0,18275,4810,0.00,2020-02-01,14.695172,5.117241,23.836552,31.100000,...,7.479310,14.540000,35.178621,28.329655,17.304828,26.268966,39.591724,0.103448,2020.0,2.0
20,2020-03-01,2098871.0,11417,2017,0.00,2020-03-01,7.797097,3.894194,11.832258,6.332258,...,3.248387,4.385161,18.900000,18.392903,10.012903,5.445484,21.471290,0.096774,2020.0,3.0
21,2020-04-01,142539.0,490,93,0.00,2020-04-01,2.316000,1.095000,12.006000,6.528667,...,0.858000,2.296000,10.064000,6.647000,3.626000,2.378000,13.130667,0.000000,2020.0,4.0
22,2020-05-01,216458.0,758,230,0.00,2020-05-01,2.978065,1.500000,15.920000,5.109677,...,0.813871,4.325806,15.654839,6.090323,4.035484,5.109677,12.721935,0.485161,2020.0,5.0
23,2020-06-01,521813.0,2493,1506,0.00,2020-06-01,7.508667,2.366667,26.500000,8.015333,...,2.629667,7.264333,26.775667,25.242000,6.096000,15.222667,19.950000,2.324333,2020.0,6.0
24,2020-07-01,1447529.0,8082,4492,8577.35,2020-07-01,10.800000,3.373548,45.189677,10.050968,...,5.241290,18.546452,40.080645,31.693548,9.890323,21.054194,25.345161,2.254839,2020.0,7.0
25,2020-08-01,1981633.0,11388,6937,9913.52,2020-08-01,13.501935,3.270968,35.889355,15.067742,...,5.016774,13.280000,36.548387,27.786774,7.687742,18.418065,23.574194,2.788710,2020.0,8.0
26,2020-09-01,1736747.0,10291,3853,7036.22,2020-09-01,5.212667,2.620000,16.858667,6.534000,...,2.000000,8.201667,21.057333,25.973333,6.753333,11.718000,16.176000,0.392000,2020.0,9.0
27,2020-10-01,1474498.0,8607,2955,5480.17,2020-10-01,3.235484,2.112258,9.459677,10.023548,...,1.224516,7.393548,14.947097,16.414839,5.770968,10.084516,18.379355,0.708387,2020.0,10.0
28,2020-11-01,779541.0,4140,519,0.00,2020-11-01,2.069667,1.547000,5.990000,4.857667,...,0.556667,3.000000,12.120000,5.202000,3.256000,2.256000,11.595000,0.564000,2020.0,11.0
29,2020-12-01,1094520.0,5870,1389,0.00,2020-12-01,4.297097,1.876129,7.918710,3.845484,...,0.943226,5.640645,17.814194,10.534194,4.669677,3.370968,15.003871,0.000000,2020.0,12.0
30,2021-01-01,1109331.0,5939,1853,0.00,2021-01-01,4.887097,1.827097,13.972903,5.419355,...,1.074194,3.892581,19.620968,10.399355,4.866129,4.942903,13.587097,0.000000,2021.0,1.0
31,2021-02-01,838165.0,4602,1778,0.00,2021-02-01,3.996429,1.515000,11.588571,3.918571,...,0.871071,5.108571,15.692857,10.127857,4.832500,2.661429,10.414286,0.000000,2021.0,2.0
32,2021-03-01,856230.0,4806,1528,0.00,2021-03-01,4.206774,1.361613,13.914194,5.601290,...,1.311290,6.725161,17.400000,12.332903,5.080645,2.768387,8.770645,0.000000,2021.0,3.0
33,2021-04-01,874821.0,4979,813,0.00,2021-04-01,3.346667,1.631000,14.450000,5.130000,...,1.277333,5.499000,22.045333,11.344000,5.506667,3.264000,14.433000,0.000000,2021.0,4.0
34,2021-05-01,1098536.0,6439,2186,4575.12,2021-05-01,7.263226,3.004839,20.282581,8.830000,...,2.093226,9.800000,26.472903,16.216774,6.277419,10.761290,17.953548,0.140323,2021.0,5.0
35,2021-06-01,1522735.0,8888,3860,6913.27,2021-06-01,9.093333,3.348333,31.661667,14.664000,...,2.028000,12.334667,33.073333,26.400000,8.052000,17.906667,22.080000,2.484000,2021.0,6.0
36,2021-07-01,2415526.0,13776,7386,10498.30,2021-07-01,15.472903,4.139355,37.371290,17.323548,...,6.038710,17.691935,38.929355,24.404516,11.014839,25.998387,24.949677,2.666129,2021.0,7.0
37,2021-08-01,2578237.0,14715,9354,11095.90,2021-08-01,14.551613,3.032903,38.340000,20.173548,...,6.517742,20.254516,40.211613,30.013548,10.301290,22.569677,28.225806,2.595484,2021.0,8.0
38,2021-09-01,2380217.0,13556,7044,9442.13,2021-09-01,12.432000,3.712333,21.634667,27.510667,...,5.002667,14.698667,29.846667,42.697333,12.041667,20.335333,27.615000,0.862333,2021.0,9.0
39,2021-10-01,2421248.0,13785,8118,9121.07,2021-10-01,6.250323,3.282581,15.004516,32.055484,...,2.273548,10.540645,27.198387,31.497097,10.869677,25.880323,25.109677,2.103226,2021.0,10.0

Ici, on fait la régression du nb total de touristes sur toutes nos variables: pas forcément pertinent. trop de variables?

In [36]:
# Régression sur la base finale
X = sm.add_constant(df_fusion2.drop(["date", "value_in_thousands", "Year", "Month", "Year-Month"], axis = 1))
results = sm.OLS(df_fusion2['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.974
Model:                            OLS   Adj. R-squared:                  0.900
Method:                 Least Squares   F-statistic:                     13.11
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           8.28e-05
Time:                        21:23:47   Log-Likelihood:                -322.53
No. Observations:                  40   AIC:                             705.1
Df Residuals:                      10   BIC:                             755.7
Df Model:                          29
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
const                                        1152.4147   2089.107      0.552      0.593   -3502.407    5807.236
seats                                          -0.0126      0.008     -1.542      0.154      -0.031       0.006
number_planes                                   2.5817      1.356      1.904      0.086      -0.439       5.602
number_of_reviewers                             0.1714      0.316      0.543      0.599      -0.532       0.875
aeroport nice cote d azur theme_cat_voyages    28.0396    168.128      0.167      0.871    -346.572     402.652
aeroport paris_cat_voyages                   -555.1144    649.166     -0.855      0.413   -2001.547     891.318
cote d azur theme_cat_voyages                 390.0492    144.974      2.690      0.023      67.026     713.072
disneyland paris hotel_cat_voyages             12.3039    101.953      0.121      0.906    -214.862     239.469
disneyland paris theme_cat_voyages            404.0899    294.944      1.370      0.201    -253.085    1061.265
disneyland paris_cat_voyages                 -354.6306    281.554     -1.260      0.236    -981.972     272.711
french riviera_cat_voyages                  -1036.8984    797.230     -1.301      0.223   -2813.238     739.441
louvre_cat_voyages                           -231.5768    251.088     -0.922      0.378    -791.035     327.882
lyon gare_cat_voyages                         168.8798     97.359      1.735      0.113     -48.049     385.808
lyon hotel_cat_voyages                       -300.0773    176.805     -1.697      0.121    -694.023      93.869
lyon_cat_voyages                               31.6533     70.182      0.451      0.662    -124.723     188.029
marseille gare_cat_voyages                   -104.3428    139.432     -0.748      0.471    -415.018     206.332
marseille hotel_cat_voyages                  -154.3054    250.009     -0.617      0.551    -711.361     402.750
marseille restaurant_cat_voyages             -169.0592    158.752     -1.065      0.312    -522.780     184.662
marseille station_cat_voyages                -135.6467    163.784     -0.828      0.427    -500.580     229.287
marseille vieux port_cat_voyages             -155.2590    116.275     -1.335      0.211    -414.335     103.817
marseille_cat_voyages                          25.2191     67.202      0.375      0.715    -124.517     174.956
mucem theme                                   718.7803    512.899      1.401      0.191    -424.029    1861.590
nice airport_cat_voyages                       58.2814    308.776      0.189      0.854    -629.715     746.278
nice hotel_cat_voyages                        276.9977    302.638      0.915      0.382    -397.323     951.318
nice_cat_voyages                             -427.8458    159.109     -2.689      0.023    -782.362     -73.330
paris gare_cat_voyages                        110.8590     94.315      1.175      0.267     -99.288     321.006
paris hotel_cat_voyages                      -320.9064    478.504     -0.671      0.518   -1387.079     745.266
paris restaurant_cat_voyages                  238.0760    169.004      1.409      0.189    -138.489     614.641
paris_cat_voyages                             157.9371    132.529      1.192      0.261    -137.355     453.229
promenade des anglais_cat_voyages             277.2339    430.859      0.643      0.534    -682.779    1237.247
==============================================================================
Omnibus:                        0.309   Durbin-Watson:                   2.033
Prob(Omnibus):                  0.857   Jarque-Bera (JB):                0.413
Skew:                          -0.187   Prob(JB):                        0.813
Kurtosis:                       2.671   Cond. No.                     2.80e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.8e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

Ici on fait la régression du nb total de touristes sur toutes nos variables sans les GG trends pour voir les coeff significatifs :

In [44]:
df_fusion_sansGGtrend = df_fusion_aerien.merge(df_fusion_commentaires, how='inner', on="date")
df_fusion_sansGGtrend = df_fusion_sansGGtrend[["date", "value_in_thousands_x", "seats", "number_planes", "number_of_reviewers"]]
df_fusion_sansGGtrend.rename(columns={"value_in_thousands_x": "value_in_thousands"}, inplace=True)
df_fusion_sansGGtrend

,date,value_in_thousands,seats,number_planes,number_of_reviewers
0,2018-07-01,12938.61,4883670.0,28912,936
1,2018-08-01,13230.29,4964357.0,28874,4342
2,2018-09-01,11500.99,4814087.0,28821,3614
3,2018-10-01,10298.17,4780669.0,28277,3477
4,2018-11-01,8161.55,3450107.0,20388,3755
5,2018-12-01,7995.92,2669261.0,15424,3842
6,2019-01-01,7020.50,3553036.0,20469,3148
7,2019-02-01,7582.23,3562193.0,20856,2856
8,2019-03-01,8979.44,3984509.0,23365,3254
9,2019-04-01,10352.06,4609542.0,27047,3936
10,2019-05-01,10549.21,4785556.0,28158,3899
11,2019-06-01,12353.69,4893997.0,28659,4586
12,2019-07-01,13034.84,5133013.0,29566,5296
13,2019-08-01,13534.05,5039940.0,28483,6514
14,2019-09-01,11576.56,4567188.0,25580,4340
15,2019-10-01,10259.45,4415223.0,24504,4388
16,2019-11-01,8346.83,3551574.0,19542,3750
17,2019-12-01,8166.96,3504007.0,19097,3971
18,2020-01-01,0.00,3514455.0,19232,4269
19,2020-02-01,0.00,3265337.0,18275,4810
20,2020-03-01,0.00,2098871.0,11417,2017
21,2020-04-01,0.00,142539.0,490,93
22,2020-05-01,0.00,216458.0,758,230
23,2020-06-01,0.00,521813.0,2493,1506
24,2020-07-01,8577.35,1447529.0,8082,4492
25,2020-08-01,9913.52,1981633.0,11388,6937
26,2020-09-01,7036.22,1736747.0,10291,3853
27,2020-10-01,5480.17,1474498.0,8607,2955
28,2020-11-01,0.00,779541.0,4140,519
29,2020-12-01,0.00,1094520.0,5870,1389
30,2021-01-01,0.00,1109331.0,5939,1853
31,2021-02-01,0.00,838165.0,4602,1778
32,2021-03-01,0.00,856230.0,4806,1528
33,2021-04-01,0.00,874821.0,4979,813
34,2021-05-01,4575.12,1098536.0,6439,2186
35,2021-06-01,6913.27,1522735.0,8888,3860
36,2021-07-01,10498.30,2415526.0,13776,7386
37,2021-08-01,11095.90,2578237.0,14715,9354
38,2021-09-01,9442.13,2380217.0,13556,7044
39,2021-10-01,9121.07,2421248.0,13785,8118

In [46]:
# Régression sur la base finale
X = sm.add_constant(df_fusion_sansGGtrend.drop(["date", "value_in_thousands"], axis = 1))
results = sm.OLS(df_fusion_sansGGtrend['value_in_thousands'], X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     value_in_thousands   R-squared:                       0.794
Model:                            OLS   Adj. R-squared:                  0.777
Method:                 Least Squares   F-statistic:                     46.21
Date:                Wed, 02 Mar 2022   Prob (F-statistic):           1.98e-12
Time:                        21:39:12   Log-Likelihood:                -364.23
No. Observations:                  40   AIC:                             736.5
Df Residuals:                      36   BIC:                             743.2
Df Model:                           3
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                -982.8560    866.379     -1.134      0.264   -2739.954     774.242
seats                  -0.0128      0.004     -2.849      0.007      -0.022      -0.004
number_planes           2.4950      0.761      3.280      0.002       0.952       4.038
number_of_reviewers     0.9433      0.189      4.995      0.000       0.560       1.326
==============================================================================
Omnibus:                       16.662   Durbin-Watson:                   0.931
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               22.223
Skew:                          -1.242   Prob(JB):                     1.49e-05
Kurtosis:                       5.677   Cond. No.                     7.65e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.65e+06. This might indicate that there are
strong multicollinearity or other numerical problems.